{% extends 'app/base.html' %}
{% load static %}

{% block title%} About {% endblock %}


{% block content%}

{% block stylsheet%} 
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock%}

	<div class="container">
		<h1 class="about-container">/About</h1>
		<p class="about-container-info">Hi! I'm Vladimir, an aspiring web developer and I like creating websites that are visually appealing and highly functional. I'm currently at learning phase, but I'm eager to continuous learning and open to new ideas. I'm committed to put an effort to learn and master new skills.</p>
		<br>
		<p class="about-container-info">I'm a third-year student at Cavite State University, pursuing a Bachelor of Science in Information Technology. My journey in tech started because I love playing computer games, and my relatives encouraged me to explore careers in this field. Since then, I've been trying to learn coding, design, and everything related to tech.</p>
	</div>

{% endblock content%}